@use './_reset'
@use './abstracts' as a

html 
  font-size: 16px
  font-weight: a.$medium
  font-family: a.$font-primary
  color: var(--clr-neutral-paleBlue)
  background-color: var(--clr-neutral-veryDarkBlue)


#app 
  padding: 10px
  padding-top: 81px


#app > main 
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%


h1
  font-weight: a.$medium


img
  max-width: none


.grid-center
  display: grid
  place-items: center
